<!-- include header -->
    <%- include('include/_header') %>
<!-- /include header -->


<div class="modal fade" id="signin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modalbg">
      <div class="modal-header text-center">
      <h5 class="modal-title w-100 font-weight-bold" id="exampleModalLabel">SIGN IN </h5>
        
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="username" class="col-form-label">Enter Your Username/Email:</label>
            <input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Enter Your Password:</label>
            <input type="password" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn w-100 ">LOG IN</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="signup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modalbg">
      <div class="modal-header text-center">
      <h5 class="modal-title w-100 font-weight-bold" id="exampleModalLabel">SIGN UP</h5>
        
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="username" class="col-form-label">Enter Your Username/Email:</label>
            <input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Enter Your Password:</label>
            <input type="password" class="form-control">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Confirm Password:</label>
            <input type="password" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn w-100 ">REGISTER</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid ">
  <div class="row">
    <div class="col-sm-5 ab">
      <h3>Designer Events Inc</h3>
      <p>We are a Ludhiana-based boutique wedding planner and décor designer.
         We plan your wedding in collaboration with you, from the initial concept to the wedding execution. 
         We choreograph your vision and make it a reality.
         We also attend to the smallest details and ensure that the family is stress-free on the big day.
      </p>
    </div>
  <div>
    <a href="add-user">
    <button type="button" class="btn btn-dark mt-2 btn-lg">JOIN NOW</button>
    </a>
  </div>
</body>
</html>
