
    
    <!DOCTYPE html>
<html lang="en">
<head>
  <title>Wedding</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <link href="css/css.css" rel="stylesheet" type="text/css">
   <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body class="bg">

  <nav class="navbar navbar-expand-sm bgnav">
    <div class="container-fluid">
      <ul class="navbar-nav  me-auto">
        <li class="nav-item">
          <a class="navbar-brand "><img src ="https://www.freepnglogos.com/uploads/wedding/bride-and-groom-wedding-png-transparent-image-10.png" height="35"></a>
        </li>
        <li class="nav-item">
         <a class="navbar-brand lgname" href="/first"> Home </a>
        </li>
        
      </ul>
   
        
    </div>
</nav>

